/************************************ Empieza Estilos de itemCont.jsx ************************************/
.contenedorGeneral-contador{
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: .6em;
}

.contenedor-contador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.boton-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.boton-agregarCarrito{
    padding: 10px;
    font-size: .5em;
    font-weight: 600;
}

/************************************ Termina Estilos de itemCont.jsx ************************************/
