.img-card{
    width: 40%;
}

.p-card{
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    text-align: center;
    font-size: 1.2em;
}

.Cont-itemButtons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.boton-card{
    background-color: #3483fa;
    border-color: transparent;
    padding: .2rem;
    width: 9rem;
    text-decoration: none;
    color: white;
}

.link-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    text-decoration: none;
}