*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/fondoposible4.png);
    background-size: 60%;
    min-height: 100vh;
}

.App{
    min-height: 100vh;
    background-color: #ebebeb84;
}
